.cardAttribute {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.cardList {
	list-style: none;
	text-align: right;
}

.cardPreviewOpeningCrawl {
	@extend .cardAttribute;
	display: -webkit-box;
	-webkit-line-clamp: 6;
}

.cardPreviewAttributeValue {
	@extend .cardAttribute;
	max-width: 140px;
}

.cardDetailsAttributeValue {
	@extend .cardAttribute;
	max-width: 320px;
}

.cardPreviewTitle {
	@extend .cardAttribute;
	display: -webkit-box;
	-webkit-line-clamp: 1;
}
